      %table
        %tr
          %td.text 所在地
          %td= f.text_field :location
        %tr
          %td.text 施設名称
          %td= f.text_field :mall_name
        %tr
          %td.text 階数
          %td= f.number_field :floor
        %tr
          %td.text 区画番号
          %td= f.number_field :block_number
        %tr
          %td.text 面積（㎡）
          %td= f.number_field :area, step: "0.01"
        %tr
          %td.text 賃料（坪あたり月額）
          %td= f.number_field :rent
        %tr
          %td.text 募集業種
          %td= f.text_field :sector
        %tr
          %td.text 画像、写真
          %td
            %label
              = icon('fas', 'image')
              = f.file_field :image, class: 'hidden'
      %a
        = f.submit '送信', class: 'send-btn'