.title
  %h1 「#{@space.mall_name}」詳細ページ
  .title__icon
    - if tenant_signed_in? && current_tenant.already_niced?(@space)
      = link_to space_nice_path(@space), method: :delete do
        %i.fas.fa-heart{:id => "#{@space.id}"}
    - elsif tenant_signed_in?
      = link_to space_nices_path(@space) , method: :post do
        %i.far.fa-heart{:id => "#{@space.id}"}
    - else
      %i.fas.fa-heart
  %p #{@space.nices.count}
.show
  .show__left
    .show__left__image
      = image_tag @space.image
    .show__left__info
      %table
        %tr
          %td 所在地
          %td #{@space.location}
        %tr
          %td 施設名称
          %td #{@space.mall_name}
        %tr
          %td フロア
          %td #{@space.floor}階
        %tr
          %td 区画番号
          %td #{@space.block_number}
        %tr
          %td 面積
          %td #{(@space.area * 0.3025).floor(2)}坪
        %tr
          %td 月額賃料
          %td #{(@space.rent * (@space.area * 0.3025).floor(2)).floor.to_s(:delimited)}円
        %tr
          %td 坪あたりの賃料
          %td #{@space.rent.to_s(:delimited)}円
        %tr
          %td 誘致希望業種
          %td #{@space.sector}

  .show__right
    #map
    :javascript
      function drawMap(address) {
          var geocoder = new google.maps.Geocoder();
          geocoder.geocode(
                  {
                      'address': address,
                      'region': 'jp'
                  },
                  function (results, status) {
                      if (status == google.maps.GeocoderStatus.OK) {
                          google.maps.event.addDomListener(window, 'load', function () {
                              var map_tag = document.getElementById('map');
                              var map_location = new google.maps.LatLng(results[0].geometry.location.lat(),results[0].geometry.location.lng());
                              var map_options =
                              {
                                  zoom: 13,
                                  center: map_location,
                                  disableDefaultUI: true,
                                  mapTypeId: google.maps.MapTypeId.ROADMAP,
                              };
                              var map = new google.maps.Map(map_tag, map_options);
                              var marker = new google.maps.Marker({
                                  position: map_location,
                                  map: map,
                              });
                          });
                      }
                  }
          );
      }
      drawMap('#{@space.mall_name}');
    :css
      html { height: 100% }
      body { height: 100% }
      #map { height: 450px; width: 450px}

