.space-show
  .space-show__title
    #{@space.mall_name}詳細ページです

  .space-show__nice
    %h3 ナイス件数：#{@space.nices.count}
    - if tenant_signed_in? && current_tenant.already_niced?(@space)
      = button_to 'ナイスを取り消す', space_nice_path(@space), method: :delete
    - elsif tenant_signed_in?
      = button_to 'ナイス！！', space_nices_path(@space)
    - else

  .space-show__info
    .space-show__info__image
      = image_tag @space.image
      .space-show__info__list
        %p 所在地：　　　　#{@space.location}

        %p 施設名称：　　　#{@space.mall_name}

        %p フロア：　　　　#{@space.floor}階

        %p 区画番号：　　　#{@space.block_number}

        %p 面積：　　　　　#{@space.area}（㎡）／#{(@space.area * 0.3025).floor(2)}（坪）

        %p 月額賃料：　　　#{@space.rent.to_s(:delimited)}（円／月）

        %p 坪あたりの賃料：＠#{(@space.rent / (@space.area * 0.3025)).floor(2)}（円）

        %p 誘致希望業種　：#{@space.sector}

    .space-show__info__map
      #map
      :javascript
        function drawMap(address) {
            var geocoder = new google.maps.Geocoder();
            //住所から座標を取得する
            geocoder.geocode(
                    {
                        'address': address,//検索する住所　〒◯◯◯-◯◯◯◯ 住所　みたいな形式でも検索できる
                        'region': 'jp'
                    },
                    function (results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            google.maps.event.addDomListener(window, 'load', function () {
                                var map_tag = document.getElementById('map');
                                // 取得した座標をセット緯度経度をセット
                                var map_location = new google.maps.LatLng(results[0].geometry.location.lat(),results[0].geometry.location.lng());
                                //マップ表示のオプション
                                var map_options =
                                {
                                    zoom: 13,//縮尺
                                    center: map_location,//地図の中心座標
                                    disableDefaultUI: true,
                                    mapTypeId: google.maps.MapTypeId.ROADMAP//地図の種類を指定
                                };

                                //マップを表示する
                                var map = new google.maps.Map(map_tag, map_options);

                                //地図上にマーカーを表示させる
                                var marker = new google.maps.Marker({
                                    position: map_location,//マーカーを表示させる座標
                                    map: map//マーカーを表示させる地図
                                });
                            });
                        }
                    }
            );
        }
        drawMap('#{@space.mall_name}');
      :css
        html { height: 100% }
        body { height: 100% }
        #map { height: 450px; width: 450px}













      -#   var MyLatLng = new google.maps.LatLng(35.6811673, 139.7670516);
      -#   var Options = {
      -#   zoom: 14,      //地図の縮尺値
      -#   center: MyLatLng,    //地図の中心座標
      -#   };
      -#   var map = new google.maps.Map(document.getElementById('map'), Options, marker);
      -#   var marker = new google.maps.Marker({
      -#     position: MyLatLng,
      -#     map: map,
      -#   })
      -# :css
      -#   html { height: 100% }
      -#   body { height: 100% }
      -#   #map { height: 450px; width: 450px}

