.account-page
  .account-page__form-title
    %h2 ログイン

  .account-page__form-box
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

      .account-page__form-box__field
        = f.label :メールアドレス　　
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .account-page__form-box__field
        = f.label :パスワード　　　　
        = f.password_field :password, autocomplete: "current-password", style: 'none'
      .account-page__form-box__actions
        = f.submit "ログイン"
    = render "devise/shared/links"
