#brand.brand
  %ul.brand__item
    %li ブランド名：#{brand.name}
    %li 業種：#{brand.category_large}／#{brand.category_small}
    %li 対象性別：#{brand.target_sex}
    %li 対象年齢：#{brand.target_age}
    %li 適正面積：#{brand.area_min}坪〜#{brand.area_max}坪
    投稿者：#{brand.user.company}
    = link_to user_path(brand.user_id) do
      = brand.user.name

  .brand__image
    - if brand.image.present?
      = image_tag brand.image.url


  - if user_signed_in?
    %ul.btn
      %li= link_to '詳細', brand_path(brand.id)
      - if current_user.id == brand.user_id
        %li= link_to '編集', edit_brand_path(brand.id)
        %li= link_to '削除', brand_path(brand.id), method: :delete
