.form
  .form__title
    %h2 ブランドを登録
  .form__table
    = form_for @brand do |f|
      %table
        %tr
          %td.text ブランド名
          %td= f.text_field :name
        %tr
          %td.text 業種選択
          %td
            = f.radio_button :category_large, :'物販'
            = f.label :category_large, "物販店舗", {value: :'物販'}
            = f.radio_button :category_large, :'飲食'
            = f.label :category_large, "飲食店舗", {value: :'飲食'}
            = f.radio_button :category_large, :'サービス'
            = f.label :category_large, "サービス店舗", {value: :'サービス'}
        %tr
          %td.text 詳細業種
          %td= f.text_field :category_small
        %tr
          %td.text 対象性別
          %td
            = f.radio_button :target_sex, :'男性'
            = f.label :target_sex, "男性", {value: :'男性'}
            = f.radio_button :target_sex, :'女性'
            = f.label :target_sex, "女性", {value: :'女性'}
            = f.radio_button :target_sex, :'不問'
            = f.label :target_sex, "不問", {value: :'不問'}
        %tr
          %td.text 対象年齢
          %td
            = f.check_box :target_age, {checked_value: :"10代", unchecked_value: :nil}
            = f.label :target_age, "10代", {value: :'10代'}
            = f.check_box :target_age, {checked_value: :"20代", unchecked_value: :nil}
            = f.label :target_age, "20代", {value: :'20代'}
            -# = f.check_box :target_age, {checked_value: :"30代", unchecked_value: :nil}
            -# = f.label :target_age, "30代", {value: :'30代'}
            -# = f.check_box :target_age, {checked_value: :"40代", unchecked_value: :nil}
            -# = f.label :target_age, "40代", {value: :'40代'}
            -# = f.check_box :target_age, {checked_value: :"50代", unchecked_value: :nil}
            -# = f.label :target_age, "50代", {value: :'50代'}
            -# = f.check_box :target_age, {checked_value: :"不問", unchecked_value: :nil}
            -# = f.label :target_age, "不問", {value: :'不問'}
        %tr
          %td.text 最小面積（坪）
          %td= f.number_field :area_min
        %tr
          %td.text 最大面積（坪）
          %td= f.number_field :area_max
        %tr
          %td.text 既存店売上
          %td= f.text_area :sales_record, placeholder: :"◯◯店：月商◯◯百万円など"
        %tr
          %td.text 画像、写真
          %td
            %label
              = icon('fas', 'image')
              = f.file_field :image, class: 'hidden'
      %a
        = f.submit '送信', class: 'send-btn'

