.form
  .form__title
    %h2 ブランドを登録
  .form__table
    = form_for @brand do |f|
      .row
        ブランド名
        = f.text_field :name
      .row
        業種選択
        = f.select :category_large, [['物販店舗', :retail],['飲食店舗', :food],['サービス店舗', :service]]
      .row
        詳細業種
        = f.text_field :category_small
      .row
        対象性別
        = f.select :target_sex, [['女性',],['男性',],['不問',]]
      .row
        対象年齢
        = f.check_box :target_age,{ multiple: true}, '〜10代', nil
        = f.label :target_age, {value: :'〜10代'}
        = f.check_box :target_age,{ multiple: true }, '20代', nil
        = f.label :target_age, {value: :'20代'}
        = f.check_box :target_age,{ multiple: true }, '30代', nil
        = f.label :target_age, {value: :'30代'}
        = f.check_box :target_age,{ multiple: true }, '40代', nil
        = f.label :target_age, {value: :'40代'}
        = f.check_box :target_age,{ multiple: true }, '50代', nil
        = f.label :target_age, {value: :'50代'}
        = f.check_box :target_age,{ multiple: true }, '60代', nil
        = f.label :target_age, {value: :'60代〜'}
        = f.check_box :target_age,{ multiple: true, :checked => "checked"}, '不問', nil
        = f.label :target_age, {value: :'不問'}
      .row
        最小面積（坪）
        = f.number_field :area_min
      .row
        最大面積（坪）
        = f.number_field :area_max
      .row
        既存店売上
        = f.text_area :sales_record, placeholder: :"◯◯店：月商◯◯百万円など"
      .row
        画像
        #image-box
          -# #previews
          -#   - if @space.persisted?
          -#     - @space.images.each_with_index do |image, x|
          -#       = image_tag image.image.url, data:{ index: x }, width: "120", height: '100'
          = f.fields_for :images do |i|
            .js-file_group{"data-index" => "#{i.index}"}
              = i.file_field :image, class: 'js-file', id: 'img-file'
          -#     %span.js-remove 削除
          -#   - if @space.persisted?
          -#     = i.check_box :_destroy, data:{ index: i.index }, class: 'hidden-destroy'
          -# - if @space.persisted?
          -#   .js-file_group{"data-index" => "#{@space.images.count}"}
          -#     = file_field_tag :image, name: "space[images_attributes][#{@space.images.count}][image]", class: 'js-file'
          -#     .js-remove 削除
      = f.submit '送信', class: 'send-btn'

      -#     %td.text 業種選択
      -#     %td
      -#       = f.radio_button :category_large, :'物販'
      -#       = f.label :category_large, "物販店舗", {value: :'物販'}
      -#       = f.radio_button :category_large, :'飲食'
      -#       = f.label :category_large, "飲食店舗", {value: :'飲食'}
      -#       = f.radio_button :category_large, :'サービス'
      -#       = f.label :category_large, "サービス店舗", {value: :'サービス'}
      -#   %tr
      -#     %td.text 詳細業種
      -#     %td= f.text_field :category_small
      -#   %tr
      -#     %td.text 対象性別
      -#     %td
      -#       = f.radio_button :target_sex, :'男性'
      -#       = f.label :target_sex, "男性", {value: :'男性'}
      -#       = f.radio_button :target_sex, :'女性'
      -#       = f.label :target_sex, "女性", {value: :'女性'}
      -#       = f.radio_button :target_sex, :'不問'
      -#       = f.label :target_sex, "不問", {value: :'不問'}
      -#   %tr
      -#     %td.text 対象年齢
      -#     %td
      -#       = f.check_box :target_age,{ multiple: true}, '〜10代', nil
      -#       = f.label :target_age, {value: :'〜10代'}
      -#       = f.check_box :target_age,{ multiple: true }, '20代', nil
      -#       = f.label :target_age, {value: :'20代'}
      -#       = f.check_box :target_age,{ multiple: true }, '30代', nil
      -#       = f.label :target_age, {value: :'30代'}
      -#       = f.check_box :target_age,{ multiple: true }, '40代', nil
      -#       = f.label :target_age, {value: :'40代'}
      -#       = f.check_box :target_age,{ multiple: true }, '50代', nil
      -#       = f.label :target_age, {value: :'50代'}
      -#       = f.check_box :target_age,{ multiple: true }, '60代', nil
      -#       = f.label :target_age, {value: :'60代〜'}
      -#       = f.check_box :target_age,{ multiple: true, :checked => "checked"}, '不問', nil
      -#       = f.label :target_age, {value: :'不問'}
      -#   %tr
      -#     %td.text 最小面積（坪）
      -#     %td= f.number_field :area_min
      -#   %tr
      -#     %td.text 最大面積（坪）
      -#     %td= f.number_field :area_max
      -#   %tr
      -#     %td.text 既存店売上
      -#     %td= f.text_area :sales_record, placeholder: :"◯◯店：月商◯◯百万円など"
      -#   %tr
      -#     %td.text 画像、写真
      -#     %td
      -#       %label
      -#         = icon('fas', 'image')
      -#         = f.file_field :image, class: 'hidden'
      -# %a
      -#   = f.submit '送信', class: 'send-btn'

