.brand-show
  .brand-show__title
    %h3 #{@brand.name}詳細ページ

    .brand-show__title__nice
      - if developer_signed_in? && current_developer.already_gooded?(@brand)
        = link_to brand_good_path(@brand), method: :delete do
          %i.fas.fa-heart{:id => "#{@brand.id}"}
      - elsif developer_signed_in?
        = link_to brand_goods_path(@brand) , method: :post do
          %i.far.fa-heart{:id => "#{@brand.id}"}
      - else
        %i.fas.fa-heart

    %p #{@brand.goods.count}

  .brand-show__info
    .brand-show__info__image
      = image_tag @brand.image
    .brand-show__info__list
      %p ブランド名：　　　#{@brand.name}

      %p 業種：　　　　　　#{@brand.category_large}／#{@brand.category_small}

      %p 対象性別：　　　　#{@brand.target_sex}

      %p 対象年齢：　　　　#{@brand.target_age}

      %p 適正面積：　　　　#{@brand.area_min}坪　〜　#{@brand.area_max}坪
      - if @brand.sales_record.present?
        %p 既存店売上：　　　#{@brand.sales_record}

