.show
  .show__title
    %h2 「#{@brand.name}」詳細ページ
    =render partial: '/likes/like_brand', locals:{ brand: @brand }
  .show__detail
    .show__detail__left
      .show__detail__left__image 
        = image_tag @brand.images[0].image, size: "400x300",id:"main-photo"
        .show__left__image__mini
          - @images.each do |i|
            = image_tag i.image, size: "60x60", class:"mini-photo"
      .show__detail__left__info
        .row
          %span.keys ブランド名
          %span.values #{@brand.name}
        .row
          %span.keys 業種
          %span.values #{@brand.category_large}／#{@brand.category_small}
        .row
          %span.keys 対象性別
          %span.values #{@brand.target_sex}
        .row
          %span.keys 対象年齢
          %span.values #{@brand.target_age.gsub(/[""]/,"").delete("[]")}
        .row
          %span.keys 適正面積
          %span.values #{@brand.area_min}坪　〜　#{@brand.area_max}坪
        .row
          %span.keys 既存店売上
          %span.values #{@brand.sales_record}