.title
  %h1 「#{@brand.name}」詳細ページ
  =render partial: '/likes/like_brand', locals:{ brand: @brand }

.show
  .show__left
    .show__left__image
      = image_tag @brand.image
    .show__left__info
      %table
        %tr
          %td ブランド名
          %td #{@brand.name}
        %tr
          %td 業種
          %td #{@brand.category_large}／#{@brand.category_small}
        %tr
          %td 対象性別
          %td #{@brand.target_sex}
        %tr
          %td 対象年齢
          %td #{@brand.target_age}
        %tr
          %td 適正面積
          %td #{@brand.area_min}坪　〜　#{@brand.area_max}坪
        %tr
          %td 既存店売上
          %td #{@brand.sales_record}

