.title
  %h1 「#{@brand.name}」詳細ページ
  .title__icon
    - if developer_signed_in? && current_developer.already_gooded?(@brand)
      = link_to brand_good_path(@brand), method: :delete do
        %i.fas.fa-heart{:id => "#{@brand.id}"}
    - elsif developer_signed_in?
      = link_to brand_goods_path(@brand) , method: :post do
        %i.far.fa-heart{:id => "#{@brand.id}"}
    - else
      %i.fas.fa-heart
  %p #{@brand.goods.count}
.show
  .show__left
    .show__info__image
      = image_tag @brand.image
    .show__info__list
      %table
        %tr
          %td ブランド名
          %td #{@brand.name}
        %tr
          %td 業種
          %td #{@brand.category_large}／#{@brand.category_small}
        %tr
          %td 対象性別
          %td #{@brand.target_sex}
        %tr
          %td 対象年齢
          %td #{@brand.target_age}
        %tr
          %td 適正面積
          %td #{@brand.area_min}坪　〜　#{@brand.area_max}坪
        - if @brand.sales_record.present?
          %tr
            %td 既存店売上
            %td {@brand.sales_record}

