!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Malls
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %script{ src: "http://maps.google.com/maps/api/js?&region=JP&key=AIzaSyA9AOwpJ5blV_b0WNiAKk-CTPNfirbghzA&language=ja"}
  %body
    = render 'shared/header'
    #contents
      = yield
    = render 'shared/footer'
    = render 'shared/exhibition-btn'

