!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Malls
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      %a.logo{ :href => '/' } Malls
      .link-list
        -if developer_signed_in?
          = link_to '募集区画登録', new_space_path
          = link_to 'ログアウト',  destroy_developer_session_path , :method => :delete
        -else
          = link_to '新規登録', new_developer_registration_path
          = link_to 'サインイン', new_developer_session_path

    .contents
      = yield


    %footer
      %p Copyright © Ryo Nakajima All Rights Reserved.